@import url(https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic);
@import url(webfonts/raleway/font.css);
@import url(webfonts/icons/css/icons.css);
@import url(normalize.css);
@charset "UTF-8";

.main-content h1 a::before,
.main-content h2 a::before,
.main-content h3 a::before,
.main-content h4 a::before,
.main-content h5 a::before,
.main-content h6 a::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

p a,
.main-content a,
.page-aside ul > li a,
.card-info a {
  box-shadow: inset 0 -5px 0 #ffbd14;
  color: inherit;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

p a:hover,
.main-content a:hover,
.page-aside ul > li a:hover,
.card-info a:hover,
p a:focus,
.main-content a:focus,
.page-aside ul > li a:focus,
.card-info a:focus,
p a:active,
.main-content a:active,
.page-aside ul > li a:active,
.card-info a:active {
  background: #ffbd14;
}

.cta {
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  padding: 6pt 8pt;
  border-radius: 3pt;
  border: 1px solid;
}

.masthead {
  position: relative;
  background-color: #E3000E;
  color: #FFF;
}

.masthead a {
  color: inherit;
}

.masthead .wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.masthead .wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.masthead .ys-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*@include span(1);*/
  height: 66px;
  transition: all 0.3s ease;
}

.masthead .ys-logo img {
  height: 66px;
}

.site-nav-toggle {
  border: 0 none;
  background-color: #000;
  position: relative;
  display: none;
  width: 44px;
  height: 44px;
}

.site-nav-toggle span,
.site-nav-toggle span:before,
.site-nav-toggle span:after {
  display: block;
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: #FFF;
  transition: -webkit-transform 0.66s;
  transition: transform 0.66s;
  -webkit-transform: perspective(1px) scale(1.1) translate3d(0, 0, 0);
}

.site-nav-toggle span {
  left: 11px;
  top: 21px;
}

.site-nav-toggle span:before,
.site-nav-toggle span:after {
  content: ' ';
}

.site-nav-toggle span:before {
  top: 10px;
}

.site-nav-toggle span:after {
  bottom: 10px;
}

.site-nav-toggle:hover span,
.site-nav-toggle:hover span:before,
.site-nav-toggle:hover span:after {
  border-radius: 2pt;
}

.site-nav-toggle:hover span:before {
  -webkit-transform: rotate(60deg) translate(-4px, 4px);
  transform: rotate(60deg) translate(-4px, 4px);
}

.site-nav-toggle:hover span {
  -webkit-transform: translate(0, -7px);
  transform: translate(0, -7px);
}

.site-nav-toggle:hover span:after {
  -webkit-transform: rotate(-60deg) translate(-14px, 14px);
  transform: rotate(-60deg) translate(-14px, 14px);
}

.site-nav a {
  text-decoration: none;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav > ul > li {
  position: relative;
  vertical-align: top;
}

@media (min-width: 950px) {
  .site-nav > ul > li:nth-child(-n+2) {
    float: left;
    width: 22.2222%;
  }

  .site-nav > ul > li:nth-last-child(-n+2) {
    float: right;
    text-align: right;
    width: 22.2222%;
  }
}

.site-nav > ul > li a {
  display: block;
}

.site-nav > ul > li a small {
  font-size: 8pt;
  display: block;
  color: #f8bfc3;
  margin-top: 2pt;
}

.site-nav > ul > li a,
.site-nav > ul > li a small {
  transition: all 0.3s ease;
}

.site-nav > ul > li > a {
  font: 300 12pt/1.2 'raleway-web', sans-serif;
  height: 66px;
  padding: 0 8pt;
  color: #FFF;
  text-transform: uppercase;
}

.site-nav > ul > li > a span {
  display: block;
  padding-top: 18px;
}

.site-nav > ul > li > a:hover {
  background-color: #f0737a;
}

.site-nav > ul > li > a:hover small {
  color: #f9cccf;
}

.site-nav > ul > li > a:focus,
.site-nav > ul > li > a:active {
  background-color: #f9cccf;
  color: #E3000E;
}

.site-nav > ul > li > a:focus small,
.site-nav > ul > li > a:active small {
  color: #E3000E;
}

.site-nav > ul > li > a.active {
  background-color: #FFF;
  color: #E3000E;
}

.site-nav > ul > li > a.active small {
  color: #ea404a;
}

.cta {
  border-color: #bf8c06;
  background-color: #FFBA08;
}

.cta:hover,
.cta:focus {
  background-color: #ffc121;
}

.cta:active {
  background-color: #e6a707;
}

body {
  font: 300 13pt/1.6 Lato, sans-serif;
  color: #262626;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'raleway-web', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: inherit;
}

.main-content h1 a,
.main-content h2 a,
.main-content h3 a,
.main-content h4 a,
.main-content h5 a,
.main-content h6 a {
  box-shadow: none;
}

.main-content h1 a::before,
.main-content h2 a::before,
.main-content h3 a::before,
.main-content h4 a::before,
.main-content h5 a::before,
.main-content h6 a::before {
  -webkit-transform: translateX(1em);
  transform: translateX(1em);
  transition: -webkit-transform 0.66s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.33s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 0.66s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.33s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  content: "";
  opacity: 0;
  margin-left: -1.2em;
  color: #5294cb;
}

.main-content h1 a:hover,
.main-content h1 a:focus,
.main-content h1 a:active,
.main-content h2 a:hover,
.main-content h2 a:focus,
.main-content h2 a:active,
.main-content h3 a:hover,
.main-content h3 a:focus,
.main-content h3 a:active,
.main-content h4 a:hover,
.main-content h4 a:focus,
.main-content h4 a:active,
.main-content h5 a:hover,
.main-content h5 a:focus,
.main-content h5 a:active,
.main-content h6 a:hover,
.main-content h6 a:focus,
.main-content h6 a:active {
  background: none;
}

.main-content h1 a:hover::before,
.main-content h1 a:focus::before,
.main-content h1 a:active::before,
.main-content h2 a:hover::before,
.main-content h2 a:focus::before,
.main-content h2 a:active::before,
.main-content h3 a:hover::before,
.main-content h3 a:focus::before,
.main-content h3 a:active::before,
.main-content h4 a:hover::before,
.main-content h4 a:focus::before,
.main-content h4 a:active::before,
.main-content h5 a:hover::before,
.main-content h5 a:focus::before,
.main-content h5 a:active::before,
.main-content h6 a:hover::before,
.main-content h6 a:focus::before,
.main-content h6 a:active::before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 0.61538em;
  font-weight: 400;
  line-height: 1em;
  display: block;
  margin-top: 0.25em;
}

.h-major {
  overflow: hidden;
  text-align: center;
}

.h-major-around > span {
  display: inline-block;
  position: relative;
}

.h-major-around > span::before,
.h-major-around > span::after {
  background-color: #e61a26;
  content: "";
  display: block;
  height: 2px;
  margin-top: -1px;
  width: 960px;
  position: absolute;
  top: 50%;
}

.h-major-around > span::before {
  left: 100%;
  margin-left: 1em;
}

.h-major-around > span::after {
  right: 100%;
  margin-right: 1em;
}

ul,
ol {
  padding-left: 0;
}

form fieldset {
  border: 0;
  padding: 0;
}

form legend {
  display: block;
  font-size: 16pt;
  font-family: 'raleway-web', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

form fieldset > div {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .77em;
}

form fieldset > div:after {
  content: " ";
  display: block;
  clear: both;
}

form fieldset > div > label {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  text-align: right;
}

form fieldset > div > div {
  width: 65.71429%;
  float: right;
  margin-right: 0;
}

form fieldset > div > div > * {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid #262626;
}

button[type="submit"] {
  margin-left: -34.28571%;
}

.intro {
  position: relative;
}

.intro .fade-gradient {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(119, 155, 155, 0.5) 0%, rgba(213, 211, 255, 0.5) 100%);
}

.intro img {
  margin-bottom: 1.5em;
}

.intro .wrap {
  position: relative;
  z-index: 2;
}

.main-content ul {
  list-style: none;
}

.main-content ul li {
  position: relative;
}

.main-content ul li + li {
  margin-top: .15em;
}

.main-content ul li::before {
  content: "·";
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 20px;
  position: absolute;
  top: .15em;
  left: -.75em;
}

.wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

main > *,
.mainfooter {
  padding-top: 18pt;
  padding-bottom: 18pt;
}

@media (max-width: 960px) {
  main > *,
  .mainfooter {
    padding-left: 18pt;
    padding-right: 18pt;
  }
}

.lead {
  font-size: 115%;
}

.catchword {
  font-size: .7333em;
  font-weight: 200;
  vertical-align: 0.1335em;
}

.page-hr {
  margin: 0 auto .75em;
  border: none;
  border-bottom: 2px solid;
  padding: 0;
  width: 4.44em;
}

.page-aside {
  line-height: 1.3;
  float: right;
  margin: -.5em 0 1em 1em;
  padding: 1em 1em 1em 2em;
  background-color: #fff1ce;
}

.page-aside h1 {
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2pt;
}

.page-aside > * {
  margin: 0;
}

.page-aside > * + * {
  margin-top: 1em;
}

.stats {
  list-style: none;
  margin: 0;
  color: #FFF;
  font: 200 14pt/1.2 'raleway-web', sans-serif;
  text-shadow: #262626 0 1px 4px;
  text-transform: uppercase;
  letter-spacing: 8pt;
}

@media (min-width: 400px) {
  .stats-about > * {
    width: 48.57143%;
    float: left;
  }

  .stats-about > *:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .stats-about > *:nth-child(2n + 2) {
    margin-left: 51.42857%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 800px) {
  .stats-about > * {
    width: 22.85714%;
    float: left;
  }

  .stats-about > *:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .stats-about > *:nth-child(4n + 2) {
    margin-left: 25.71429%;
    margin-right: -100%;
    clear: none;
  }

  .stats-about > *:nth-child(4n + 3) {
    margin-left: 51.42857%;
    margin-right: -100%;
    clear: none;
  }

  .stats-about > *:nth-child(4n + 4) {
    margin-left: 77.14286%;
    margin-right: -100%;
    clear: none;
  }
}

.stats span {
  letter-spacing: normal;
  font-size: 72pt;
  font-weight: 900;
  display: block;
}

.cards {
  padding-left: 0;
  list-style: none;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.cards:after {
  content: " ";
  display: block;
  clear: both;
}

.cards .card {
  width: 48.57143%;
  float: left;
  margin-bottom: 0.75em;
}

.cards .card:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.cards .card:nth-child(2n + 2) {
  margin-left: 51.42857%;
  margin-right: -100%;
  clear: none;
}

@media (min-width: 560px) {
  .cards .card {
    width: 48.57143%;
    float: left;
  }

  .cards .card:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .cards .card:nth-child(2n + 2) {
    margin-left: 51.42857%;
    margin-right: -100%;
    clear: none;
  }
}

.main-content .card::before,
.main-content .card li::before {
  content: none;
}

.card-header {
  font-family: 'raleway-web', sans-serif;
  margin-bottom: 0.75em;
}

.card-header h1 {
  font-size: 16pt;
  text-transform: uppercase;
}

.card-header h1 small {
  text-transform: none;
  font-size: 13pt;
}

.card-header::after {
  content: '';
  display: block;
  width: 4.44em;
  height: 2px;
  margin-top: 0.75em;
  background-color: #3c3c3c;
}

.card-info {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.card-info:after {
  content: " ";
  display: block;
  clear: both;
}

.card-info > dt {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
  text-align: right;
}

.card-info > dd {
  margin-left: 0;
  width: 74.28571%;
  float: right;
  margin-right: 0;
}

.card-info,
.card-info > *:nth-child(n+3) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.card-info-link {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info h2,
.card-info h3 {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.card-label {
  font-weight: normal;
  font-style: normal;
  text-transform: lowercase;
  color: #3c81bb;
}

.card-label::after {
  content: '•';
  font-family: 'raleway-web', sans-serif;
  font-style: normal;
  margin-left: .25em;
}

.mainfooter {
  background-color: #262626;
  color: #FFF;
}

.mainfooter > .wrap + .wrap {
  margin-top: 18pt;
}

.mainfooter a {
  color: inherit;
}

.mainfooter a:hover,
.mainfooter a:focus,
.mainfooter a:active {
  border-bottom: 2px solid #f2b108;
}

.mainfooter a:focus {
  border-bottom-color: #d8000d;
}

.mainfooter a:active {
  border-bottom-color: #E3000E;
}

.mainfooter .interests > section {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
}

.mainfooter .interests > section:nth-child(3) {
  float: right;
  margin-right: 0;
}

.mainfooter .interests > section > ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.mainfooter .interests > section > ul + ul {
  margin-top: 18pt;
}

.mainfooter .interests h1 {
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: 2pt;
  margin-top: 0;
  margin-bottom: 18pt;
}

.mainfooter .logo {
  width: 14.28571%;
  float: left;
  margin-right: 2.85714%;
}

.mainfooter .logo img {
  max-width: 100%;
}

.mainfooter .cr {
  width: 82.85714%;
  float: right;
  margin-right: 0;
}

.mainfooter .cr p {
  margin: 0;
  font-size: 10pt;
}

.mainfooter .cr p:first-of-type {
  font: 14pt 'raleway-web', serif;
  text-transform: uppercase;
}

@media (min-width: 320px) {
  .mainfooter .logo {
    width: 5.71429%;
    float: left;
    margin-right: 2.85714%;
  }

  .mainfooter .cr {
    width: 91.42857%;
    float: right;
    margin-right: 0;
  }
}