@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
@import url(webfonts/raleway/font.css);
@import url(webfonts/entypo/font.css);
@import url(normalize.css);
.masthead {
  position: relative;
  background-color: #FF0E24;
  color: #FFF; }
  .masthead a {
    color: inherit; }
  .masthead .wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    .masthead .wrap:after {
      content: " ";
      display: block;
      clear: both; }
  .masthead .ys-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*@include span(1);*/
    height: 66px;
    transition: all 0.3s ease; }
    .masthead .ys-logo img {
      height: 66px; }

.site-nav-toggle {
  border: 0 none;
  background-color: #000;
  position: relative;
  display: none;
  width: 44px;
  height: 44px; }
  .site-nav-toggle span, .site-nav-toggle span:before, .site-nav-toggle span:after {
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #FFF;
    transition: -webkit-transform 0.66s;
    transition: transform 0.66s;
    -webkit-transform: perspective(1px) scale(1.1) translate3d(0, 0, 0); }
  .site-nav-toggle span {
    left: 11px;
    top: 21px; }
  .site-nav-toggle span:before, .site-nav-toggle span:after {
    content: ' '; }
  .site-nav-toggle span:before {
    top: 10px; }
  .site-nav-toggle span:after {
    bottom: 10px; }
  .site-nav-toggle:hover span, .site-nav-toggle:hover span:before, .site-nav-toggle:hover span:after {
    border-radius: 2pt; }
  .site-nav-toggle:hover span:before {
    -webkit-transform: rotate(60deg) translate(-4px, 4px);
    transform: rotate(60deg) translate(-4px, 4px); }
  .site-nav-toggle:hover span {
    -webkit-transform: translate(0, -7px);
    transform: translate(0, -7px); }
  .site-nav-toggle:hover span:after {
    -webkit-transform: rotate(-60deg) translate(-14px, 14px);
    transform: rotate(-60deg) translate(-14px, 14px); }

.site-nav a {
  text-decoration: none; }

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.site-nav > ul > li {
  position: relative;
  vertical-align: top; }
  @media (min-width: 950px) {
    .site-nav > ul > li:nth-child(-n+2) {
      float: left;
      width: 22.2222%; }
    .site-nav > ul > li:nth-last-child(-n+2) {
      float: right;
      text-align: right;
      width: 22.2222%; } }
  .site-nav > ul > li a {
    display: block;
    transition: all 0.3s ease; }
    .site-nav > ul > li a small {
      font-size: 8pt;
      display: block;
      color: #ffb6bd;
      margin-top: 2pt; }
  .site-nav > ul > li > a {
    font: 300 12pt/1.2 "raleway-web", sans-serif;
    height: 66px;
    padding: 0 8pt;
    color: #FFF;
    text-transform: uppercase; }
    .site-nav > ul > li > a span {
      display: block;
      padding-top: 18px; }
    .site-nav > ul > li > a:hover, .site-nav > ul > li > a:focus, .site-nav > ul > li > a.active {
      background-color: #FFF;
      color: #FF0E24; }

body {
  font: 300 13pt/1.6 Lato, sans-serif;
  color: #232323; }

a {
  color: #777; }
  a:hover {
    color: #444; }
  a:focus {
    color: #8e000d; }
  a:active {
    color: #FF0E24; }
  a:visited {
    opacity: .8; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'raleway-web', sans-serif;
  font-weight: 600;
  line-height: 1.2; }

ul, ol {
  padding-left: 0; }

ul:not([class]) li {
  list-style: none;
  position: relative; }
  ul:not([class]) li + li {
    margin-top: .15em; }

ul:not([class]) li::before {
  content: "·";
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 20px;
  position: absolute;
  top: .15em;
  left: -.75em; }

.wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

main > *, .mainfooter {
  padding-top: 18pt;
  padding-bottom: 18pt; }
  @media (max-width: 960px) {
    main > *, .mainfooter {
      padding-left: 18pt;
      padding-right: 18pt; } }

.lead {
  font-size: 115%; }

.cta {
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  padding: 6pt 8pt;
  background-color: #777;
  color: #FFF;
  border-radius: 3pt; }
  .cta:hover, .cta:focus {
    background-color: #CCC; }
  .cta:active {
    background-color: #444; }

.page-hr {
  padding: 0;
  border: 20pt solid #6cc;
  border-color: #6cc #f00;
  border-left-width: 100%;
  border-right-width: 100%; }

.page-aside {
  line-height: 1.3;
  float: right;
  margin: -0.5em 0 1em 1em;
  padding: 1em 1em 1em 2em;
  background-color: #F6F6F6; }
  .page-aside h1 {
    font-size: inherit;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2pt; }
  .page-aside > * {
    margin: 0; }
  .page-aside > * + * {
    margin-top: 1em; }

.stats {
  list-style: none;
  margin: 0;
  font: 200 14pt/1.2 "raleway-web", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8pt; }
  @media (min-width: 400px) {
    .stats-about > * {
      width: 49.15254%;
      float: left; }
      .stats-about > *:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .stats-about > *:nth-child(2n + 2) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; } }
  @media (min-width: 800px) {
    .stats-about > * {
      width: 23.72881%;
      float: left; }
      .stats-about > *:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .stats-about > *:nth-child(4n + 2) {
        margin-left: 25.42373%;
        margin-right: -100%;
        clear: none; }
      .stats-about > *:nth-child(4n + 3) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; }
      .stats-about > *:nth-child(4n + 4) {
        margin-left: 76.27119%;
        margin-right: -100%;
        clear: none; } }
  .stats span {
    letter-spacing: normal;
    font-size: 72pt;
    font-weight: 900;
    display: block; }

.cards {
  padding-left: 0;
  list-style: none;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .cards:after {
    content: " ";
    display: block;
    clear: both; }
  .cards .card {
    width: 100%;
    float: left;
    margin-bottom: 1.69492%; }
    .cards .card:nth-child(1n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: none; }
    @media (min-width: 560px) {
      .cards .card {
        width: 49.15254%;
        float: left; }
        .cards .card:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .cards .card:nth-child(2n + 2) {
          margin-left: 50.84746%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 820px) {
      .cards .card {
        width: 32.20339%;
        float: left; }
        .cards .card:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .cards .card:nth-child(3n + 2) {
          margin-left: 33.89831%;
          margin-right: -100%;
          clear: none; }
        .cards .card:nth-child(3n + 3) {
          margin-left: 67.79661%;
          margin-right: -100%;
          clear: none; } }

.card {
  background-color: #FFF;
  border-radius: 2pt;
  box-shadow: 0 2pt 4pt rgba(0, 0, 0, 0.25);
  margin-top: 48px; }

.card-wrap {
  padding: 6pt; }

.card-heading {
  text-align: center;
  background-color: #777;
  color: #FFF;
  margin-top: 0;
  margin-bottom: 0;
  padding: 48px 6pt 6pt;
  position: relative; }
  .card-heading a {
    color: inherit;
    text-decoration: none; }
  .card-heading-icon {
    position: absolute;
    width: 96px;
    height: 96px;
    top: -48px;
    left: 50%;
    margin-left: -48px;
    border-radius: 50%; }

.mainfooter {
  background-color: #777;
  color: #FFF; }
  .mainfooter a {
    color: inherit; }
  .mainfooter .interests > * {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
    .mainfooter .interests > *:nth-child(3) {
      float: right;
      margin-right: 0; }
  .mainfooter .interests h1 {
    font-size: 16pt; }
  .mainfooter .interests ul li::before {
    content: none; }
  .mainfooter .logo {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%; }
    .mainfooter .logo img {
      max-width: 100%; }
  .mainfooter .cr {
    width: 83.05085%;
    float: right;
    margin-right: 0; }
    .mainfooter .cr p {
      margin: 0;
      font-size: 10pt; }
    .mainfooter .cr p:first-of-type {
      font: 14pt 'raleway-web', serif;
      text-transform: uppercase; }
  @media (min-width: 320px) {
    .mainfooter .logo {
      width: 6.77966%;
      float: left;
      margin-right: 1.69492%; }
    .mainfooter .cr {
      width: 91.52542%;
      float: right;
      margin-right: 0; } }

/*# sourceMappingURL=style.css.map */