// Common look for buttons, no background colours etc.
%button {
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    padding: 6pt 8pt;
    border-radius: 3pt;
    border: 1px solid;
}
