// http://www.ppgvoiceofcolor.com/collections/regional-collections/nova-scotia
// https://coolors.co/app/e3000e-ffba08-3f88c5-262626-255c99

$palettes: (
  primary: #E3000E,
  secondary: #FFBA08,
  tertiary: #3F88C5,
  body: #262626
);

@function palette($palette) {
  @return map-get($palettes, $palette);
}

@function palette-tint($palette, $percent: 10%) {
  @return mix(white, palette($palette), $percent);
}

@function palette-shade($palette, $percent: 10%) {
  @return mix(black, palette($palette), $percent);
}