// Common look for standard links
@mixin link($palette: secondary, $tint: 75%) {
    box-shadow: inset 0 -5px 0 palette-tint($palette, $tint);
    color: inherit;
    transition: background .15s cubic-bezier(.33,.66,.66,1);
    &:hover, &:focus, &:active {
        background:palette-tint($palette, $tint)
    }
}