.cards { 
  padding-left: 0;
  list-style: none;
  @include container;
  .card {
//    @include gallery(6);
//    @include susy-breakpoint(560px) {
//      @include gallery(6);
//    }
//    @include susy-breakpoint(820px) {
//      @include gallery(4);
//    }
    margin-bottom: gutter();
  }
}

.card {
  &-heading { 
    font-family: 'raleway-web', sans-serif;
    h1 {
      font-size: 16pt;
      text-transform: uppercase;
      margin: 0;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    em {
      font-style: normal;
      color: palette(gray);
      &::after {
        content: '•';
        font-family: 'raleway-web', sans-serif;
        font-style: normal;
        margin-left: .25em;
      }
    }
  }
}

.catchword {
  font-size: .7333em;
  font-weight: 200;
  vertical-align: 0.1335em;
}